* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  height: 100%;
  width: 100vw;
  min-width: 900px;
}

.page .home-page {
  height: calc(100vh - 60px);
  width: 100%;
  min-width: 900px;
  bottom: 0px;
  top: 60px;
  position: absolute;
  background-image: url("../../images/loginBackground.jpg");
}

.teams-content {
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.7);
}

.teams-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-unit {
  width: 440px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 1rem;
}

.team-unit:hover {
  background-color: #dadde0;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.22) 0px -12px 30px, rgba(0, 0, 0, 0.22) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.19) 0px -3px 5px;
}

.team-unit:hover .team-picture {
  border: solid rgb(85, 82, 82) 2px;
}

.team-unit:hover .users-details {
  border-top: solid rgb(85, 82, 82) 2px;
}

.team-unit:hover .team-title {
  border-bottom: rgb(85, 82, 82) 2px solid;
}

.team-unit .team-title {
  margin-bottom: 15px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 22px;
  overflow: hidden;
  border-bottom: #dadde0 2px solid;
}

.team-picture {
  display: flex;
  margin: 0 auto;
  width: 255px;
  height: 255px;
  border: solid #dadde0 2px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-picture img {
  object-fit: cover;
}
.author img {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.users-details {
  display: flex;
  padding: 3px;
  border-top: #dadde0 2px solid;

  overflow: hidden;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
