.panel-page {
  height: 100vh;
  width: 100vw;
  min-width: 700px;
}

.panel-page .panel-content {
  height: calc(100% - 60px);
  width: 100%;
  background-image: url("../../images/loginBackground.jpg");
  background-position: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.panel-page .panel-content .content {
  width: 100%;
  height: 95%;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 20px;
  border-radius: 1.4rem;
}

.panel-page .panel-content .content {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.panel-page .panel-content .content .user-section {
  border: solid red 1px;
  width: 70%;
  margin: 0 auto;
  min-width: 400px;
}

.panel-page .panel-content .content .user-section .search-bar {
}

.panel-page .panel-content .content .user-section .search-bar .user-search {
  height: 40px;
  min-width: 300px;
  width: 100%;
}

.panel-page .panel-content .content .user-section .user_element_list {
  margin-top: 20px;
  height: 90%;
  border: 1px solid blue;
  overflow-y: scroll;
}
.panel-page
  .panel-content
  .content
  .user-section
  .user_element_list
  .user_element {
  display: inline-flex;
  width: 100%;
  background-color: #fff;
  height: 60px;
  margin-top: 10px;
  border-radius: 1rem;
}

.panel-page
  .panel-content
  .content
  .user-section
  .user_element_list
  .user_element
  .user_picture {
  border: 1px solid red;
}
.panel-page .panel-content .content .add-user-button {
  position: relative;
  margin: 0 auto;
  height: 40px;
  width: 150px;
  margin-top: 30px;
}
