@import "../../index.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.cursor-block {
  position: absolute;
}
.cursor-name-container {
  position: relative;
}
.cursor-name {
  position: absolute;
  left: 16px;
  top: -10px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  padding: 2px 8px;
}

.page {
  height: 100%;
  width: 100vw;
  min-width: 900px;
  bottom: 0;
}
.edit-window {
  display: block;
  min-width: 900px;
}

.edit-window .details-bar {
  height: 75px;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.edit-window .details-bar .users-box {
  display: inline-flex;
  max-width: 50%;
  min-width: 300px;
  margin-left: auto;
  overflow-x: scroll;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.edit-window .details-bar .users-box .user-profile {
  margin-right: 8px;
  position: relative;
}

.edit-window .details-bar .users-box .user-profile .picture-profile {
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid;
  cursor: pointer;
}

.edit-window .edit-box {
  height: calc(100vh - 60px);
}
.edit-window .edit-box .ql-editor {
  margin-top: 100px;
  width: 21cm;
  height: 92%;
  max-height: 21.3cm;
  padding: 0.5in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
}

.edit-window .changes-list {
  border: 1px solid red;
  height: 600px;
  width: 20%;
  min-width: 80px;
  position: absolute;
  top: 120px;
  right: 2%;
  overflow-y: auto;
}

.edit-window .save-doc-state {
  margin-left: 20px;
  margin-right: 40px;
}

.edit-window .changes-list .one-change {
  border: 1px solid blue;
  width: 100%;
  height: 40px;
  display: inline-flex;
  flex-wrap: wrap;
}

.edit-window .changes-list .one-change p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-window .online-user-list {
  height: 300px;
  width: 16%;
  min-width: 80px;
  position: absolute;
  top: 120px;
  left: 4%;
  background-color: var(--bg-color-step-two);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-color: var(--border-color);
}

.edit-window .online-user-list p {
  font-size: medium;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: static;
}

.edit-window .edit-box .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}

.edit-window .edit-box .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 60px;
  z-index: 1;
  background-color: white;
}

@media screen and (max-width: 1400px) {
  .edit-window .edit-box .ql-editor {
    margin-top: 100px;
    width: 70%;
    height: 25.5cm;
    padding: 0.5in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
  }
}

@page {
  margin: 1in;
}

@media print {
  .edit-window .edit-box .ql-editor {
    width: 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
  }
  .edit-window .edit-box .ql-toolbar.ql-snow {
    display: none;
  }

  .navbar {
    display: none;
  }
}
