.background {
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(5px);
  position: fixed;
  margin: 0em;
  left: 0em;
  top: 0em;
  z-index: 2;
}

.dialog-component {
  padding: 25px;
  position: absolute;
  top: 20%;
  left: 45%;
  background-color: var(--white-color);
  border-radius: 5%;
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dialogContent {
  text-align: center;
}

.dialogContent .upload-box {
  margin: 20px;
  height: 320px;
}

.dialogContent .upload-box .image-preview {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  border: 1px solid red;
  border-radius: 50%;
  overflow: hidden;
}

.dialogContent .upload-box .image-preview img {
  max-height: 250px;
  /* border-radius: 50%; */
  display: block;
}

.dialogContent .upload-box .upload-action {
  width: 100%;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  margin: 10px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  background-color: greenyellow;
  display: inline-block;
  padding: 10px 10px;
  cursor: pointer;
  margin-left: 0px;
}

.dialogContent .typography-title {
  font-size: 18px;
}

.dialog-component .typography-subtitle {
  font-size: 14px;
  color: var(--red-color);
}

.dialogAction {
  margin-top: 20px;
  text-align: center;
}

.dialogAction .choose {
  text-align: center;
}
.dialogAction input {
  height: 40px;
  width: 90px;
  margin: 5px;
}
.dialogAction .mybutton-close {
  margin-left: auto;
}

.dialogAction .mybutton-close:hover {
  cursor: pointer;
  background-color: var(--color-element-hover);
  background-color: var(--red-color);
  color: var(--white-color);
}

.dialogAction .mybutton-yes:hover {
  cursor: pointer;
  background-color: var(--me-message-color);
  color: var(--white-color);
}
