@import "../../pages/Chat/chat.css";
@import "../../index.css";

.chat-page .right-section {
  bottom: 0;
  width: 70%;
  height: 98%;
  display: block;
  position: relative;
  text-align: center;
  background-image: url("../../images/chat_background.png");
  background-position: center;
  border-bottom-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
}

.chat-page .right-section-empty {
  bottom: 0;
  width: 70%;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/chat_background.png");
  background-position: center;
  border-bottom-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
}

.chat-page .right-section-empty p {
  padding-top: 20%;
  font-size: 1.8rem;
}

.right-section .messages {
  height: calc(100vh - 250px);
  overflow-y: scroll;
}

.right-section .messages .one_message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 15px;
  margin-left: 14%;
  margin-right: 14%;
  height: fit-content;
}

.right-section .messages .one_message.me {
  justify-content: flex-end;
}

.right-section .messages .one_message .user_picture {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.right-section .messages .one_message .message_cassete {
  padding-left: 10px;
  max-width: 90%;
}

.right-section .messages .one_message .message_author {
  padding-left: 10px;
  text-align: left;
}

.right-section .messages .one_message .message_cassete .message_content {
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--sender-message-color);
  /* color: var(--white-color); */
  padding: 10px;
  border-radius: 10px;
}

.right-section .messages .one_message.me .message_cassete .message_content {
  background-color: var(--me-message-color);
}

.message_content .message_picture {
  margin-bottom: 10px;
}

.message_content .message_picture img {
  max-height: 300px;
}

.message_content .message_body {
  display: inline-flex;
}

.message_content .message_body .text {
  padding-top: 5px;
}

.message_content .message_body .text.link {
  cursor: pointer;
  text-decoration: underline;
  font-size: medium;
}

.text.link:hover {
  color: #0969da;
  --webkit-transform: scale(1.02);
}

.message_content .message_body .message_icon {
  margin-top: 5px;
  font-size: 20px;
  margin-right: 10px;
}

.right-section .messages .one_message .message_cassete .message_content p {
  word-wrap: break-word;
  margin: 0;
}

.right-section .messages .one_message .message_options {
  position: relative;
}

.right-section .messages .one_message .message_options .details_button {
  position: relative;
  display: inline-block;
}

.right-section .messages .one_message .message_options .m-dropdown-content {
  top: 40px;
  left: 0px;
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: white;
  border-radius: 5%;
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.m-dropdown-content .dropdown-instrument {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: inline-flex;
  width: 100%;
}

.dropdown-instrument p {
  margin: 0px;
  margin-left: 10px;
}

.m-dropdown-content .dropdown-instrument:hover {
  background-color: #ddd;
  cursor: pointer;
}

.right-section .messages .one_message .message_options .button {
  /* border: red 1px solid; */
  margin-top: 20px;
  font-size: 20px;
}

.right-section .messages .one_message .message_options svg:hover {
  color: red;
  cursor: pointer;
}

.right-section .messenger_input {
  position: absolute;
  margin: 15px auto;
  min-height: 75px;
  max-height: 18%;
  width: 68%;
  left: 20%;
  bottom: 0px;
}

.right-section .messenger_input .text_input {
  display: flex;
  max-height: 100%;
  width: 100%;
  bottom: 0px;
}

.right-section .messenger_input .text_input .custom-textarea {
  width: 100%;
  height: 100%;
  border: 0 none;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 20px;
  border-radius: 10px;
  max-height: 120px;
  margin-top: 3px;
  border: 2px solid var(--border-color-less-intense);
}

.right-section .messenger_input .toolbar-send {
  height: 35px;
  width: 100%;
  display: flex;
  padding-top: 5px;
  padding-left: 5px;
  flex-direction: row;
  align-items: flex-start;
  font-size: large;
}

.right-section .messenger_input .toolbar-send .write-instrument {
  font-size: larger;
  margin-right: 7px;
}

.right-section .messenger_input .toolbar-send .write-instrument:hover {
  cursor: pointer;
}

.right-section .messenger_input .actions {
  margin: 3px;
  margin-top: auto;
}

.right-section .messenger_input .actions .send_file svg:hover {
  cursor: pointer;
}

.right-section .messenger_input .actions button:hover {
  cursor: pointer;
}

.file_icon {
  display: flex;
  justify-content: center;
  font-size: 200px;
}

.picture_preview {
  height: 400px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
}

.file_details {
  padding-left: 30px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.file_details .prop {
  display: inline-flex;
}

.file_details .prop .key {
  font-weight: 800;
  font-size: medium;
}

.file_details .prop .value {
  margin: 0;
  font-size: medium;
}

.conversation-details {
  height: 60px;
  width: 100%;
  padding-right: 15px;
  display: inline-flex;
  background-color: var(--white-color);
  border-bottom-right-radius: 1.4rem;
  border-bottom: 2px solid var(--color-element-hover);
}

.conversation-details .room-instrument {
  border: 2px solid var(--border-color-less-intense);
  margin-top: 10px;
  justify-content: center;
  border-radius: 20%;
  margin-right: 5px;
  font-size: 25px;
  height: 35px;
  width: 35px;
}

.conversation-details .room-instrument svg {
  vertical-align: 0;
}

.conversation-details a {
  color: black;
}

.conversation-details .room-instrument:hover {
  cursor: pointer;
  background-color: var(--bg-color-step-two);
}

.conversation-picture {
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
}

.room-name {
  display: block;
  text-align: start;
  min-width: 200px;
  padding-top: 10px;
  margin-left: 10px;
  font-size: larger;
  font-weight: bold;
  margin-right: auto;
}

.room-name p {
  margin: 0px;
}

.room-name .is-typing {
  margin-bottom: 3px;
}

.room-name .is-typing p {
  margin: 0px;
  font-size: medium;
  font-weight: normal;
}

@media screen and (max-width: 1400px) {
  .messages .one_message {
    margin-left: 12px;
  }
  .messages .one_message.me {
    justify-content: flex-end;
    margin-right: 12px;
  }
  .messenger_input {
    width: 100%;
    margin: 0;
  }
  .right-section {
    max-width: 60%;
    margin-right: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 865px) {
  .right-section {
    max-width: 64%;
    min-width: 400px;
    margin-right: 0%;
  }
}
