@import "../../cssFiles/chat.css";
@import "../../cssFiles/colors.css";

.chat-page .right-section {
  bottom: 0;
  width: 70%;
  height: 98%;
  display: block;
  text-align: center;
  background-color: var(--bg-color-step-two);
}

.chat-page .right-section-empty {
  bottom: 0;
  width: 70%;
  height: 100%;
  display: block;
  text-align: center;
  background-color: var(--bg-color-step-two);
}

.chat-page .right-section-empty p {
  padding-top: 20%;
  font-size: 1.8rem;
}

.right-section .test-scrollbar {
  /* border: solid green; */
  max-height: 710px;
  height: 81%;
  /* min-height: 50%; */
}

.right-section .messages {
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.right-section .messages .one_message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 15px;
  margin-left: 14%;
  margin-right: 14%;
  height: fit-content;
}

.right-section .messages .one_message.me {
  justify-content: flex-end;
}

.right-section .messages .one_message .user_picture {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.right-section .messages .one_message .message_body {
  padding-left: 10px;
  max-width: 90%;
}

.right-section .messages .one_message .message_author {
  padding-left: 10px;
  text-align: left;
}

.right-section .messages .one_message.me .message_body .message_text {
  background-color: var(--me-message-color);
}

.right-section .messages .one_message .message_body .message_text {
  background: var(--sender-message-color);
  color: var(--white-color);
  padding: 10px;
  border-radius: 10px;
}
.right-section .messages .one_message .message_body .message_text p {
  word-wrap: break-word;
  margin: 0;
}

.right-section .messenger_input {
  margin: 15px auto;
  height: 18%;
  min-height: 75px;
  width: 68%;
  /* border: solid blue; */
  position: relative;
}

.right-section .messenger_input .text_input {
  width: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
}

.right-section .messenger_input .text_input .custom-textarea {
  border: 0 none;
  border: 2px solid var(--border-color-less-intense);
  border-radius: 10px;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  max-height: 120px;
  margin-top: 3px;
}

.right-section .messenger_input .toolbar-send {
  height: 35px;
  width: 100%;
  display: flex;
  padding-top: 5px;
  padding-left: 5px;
  flex-direction: row;
  align-items: flex-start;
  font-size: large;
}

.right-section .messenger_input .toolbar-send .write-instrument {
  font-size: larger;
  margin-right: 7px;
}

.right-section .messenger_input .toolbar-send .write-instrument:hover {
  cursor: pointer;
}

.right-section .messenger_input .actions {
  /* width: 40px;
  height: 40px; */
  margin: 3px;
  margin-top: auto;
}

.right-section .messenger_input .actions button:hover {
  cursor: pointer;
}

.conversation-details {
  height: 60px;
  width: 100%;
  display: inline-flex;
  background-color: var(--white-color);
  border-bottom-right-radius: 1.4rem;
  /* border: 2px var(--border-color-less-intense) solid; */
  padding-right: 15px;
}

.conversation-details .room-instrument {
  border: 2px solid var(--border-color-less-intense);
  margin-top: 10px;
  justify-content: center;
  border-radius: 20%;
  margin-right: 5px;
  font-size: 25px;
  height: 35px;
  width: 35px;
}

.conversation-details .room-instrument svg {
  vertical-align: 0;
}

.conversation-details a {
  color: black;
}

.conversation-details .room-instrument:hover {
  cursor: pointer;
  background-color: var(--bg-color-step-two);
}

.conversation-picture {
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
}

.room-name {
  padding-top: 15px;
  margin-left: 10px;
  font-size: larger;
  font-weight: bold;
  margin-right: auto;
}

@media screen and (max-width: 1400px) {
  .messages .one_message {
    margin-left: 12px;
  }
  .messages .one_message.me {
    justify-content: flex-end;
    margin-right: 12px;
  }
  .messenger_input {
    width: 100%;
    margin: 0;
  }
  .right-section {
    max-width: 60%;
    margin-right: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 865px) {
  .right-section {
    max-width: 64%;
    margin-right: 0%;
  }
}

@media screen and (max-height: 900px) {
  .right-section .test-scrollbar {
    max-height: 500px;
  }
}

@media screen and (max-height: 760px) {
  .right-section .test-scrollbar {
    max-height: 480px;
  }
}
