@import "../../pages/Chat/chat.css";
@import "../../cssFiles/colors.css";

.back-button {
  margin: 10px;
  height: 45px;
  width: 45px;
}

.back-button:hover {
  cursor: pointer;
}

.RoomDelimiter {
  top: 0;
  position: sticky;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: medium;
  padding-top: 5px;
  background-color: var(--white-color);
  border-bottom: 2px solid var(--color-element-hover);
  /* z-index: 1; */
}

.user_picture {
  width: 48px;
  height: 48px;
}

.conversation {
  margin-top: 5px;
  width: 99%;
  height: 65px;
  margin-left: 2px;
  display: flex;
  flex-direction: row;
  /* border: solid black; */
  border-radius: 10px;
  border: 2px solid var(--color-element-hover);
}

.conversation:hover {
  background-color: var(--color-element-hover);
}

.conversation-picture {
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
}

.conversation-user-details {
  margin-top: 5px;
  margin-left: 12px;
  margin-right: 5px;
  font-size: medium;
  height: 50px;
  min-width: 100px;
  max-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.conversation-user-details .name p {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  width: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.last-message {
  margin-top: 5px;
  width: 100%;
  height: 20px;
  font-size: small;
}
.last-message p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}

.more_options {
  right: 10px;
  padding-right: 7px;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  justify-content: center;
}
.more_options .css-1cdpoyg-MuiSvgIcon-root:hover {
  color: var(--sender-message-color);
  transition: 1s;
}

.conversation-last-seen {
  margin-left: auto;
  font-size: small;
  font-weight: 500;
}

.room-menu {
  border: red 2px solid;
  background-color: #ffffff;
  width: 180px;
  height: 250px;
  position: absolute;
}
.room-menu.active {
  display: block;
  transition: 350ms;
  z-index: 9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  top: 30px;
  right: 5px;
  position: absolute;
  min-width: 160px;
  background-color: white;
  border-radius: 5%;
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .dropdown-instrument {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: inline-flex;
  width: 100%;
}

.dropdown-content p {
  margin: 0;
  padding-left: 10px;
}

.dropdown-content .dropdown-instrument:hover {
  background-color: #ddd;
}

/* .dropdown:hover .dropdown-content {
  display: block;
  transition: 0.7s;
} */
