.page-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #c9c9a9b9;
}
.chat-page {
  width: 100%;
  height: 93%;
  display: flex;
  flex-direction: row;
}
.search-button-icon{
  margin-top: 12px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
}
.search-button-icon:hover{
  cursor: pointer;
  background-color: #dadde0;
  border-radius: 5px;
}

.left-section {
  width: 25%;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #dadde0;

}
.search-section {
  height: 70px;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #dadde0;
}
.search-box{
  width: 88%;
  height: 30px;
  border-radius: 5px;
  margin-top: 12px;
  margin-left: 5px;
}

.conversation-picture{
  width: 50px;
  height: 50px;
  margin: 8px;
}
.conversation-details-left{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.conversation-user-name{
  margin-top: 5px;
  margin-left: 12px;
  margin-right: 5px;
  font-size: medium;
  height: 35px;
  width: 83%;
  display: flex;
}
.conversation-user-name p{
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.conversation-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.conversation-last-seen{
  margin: 10px;
  width: 50px;
  margin-left: auto;
  font-size: medium;
  font-weight: 700;
}
.last-message{
  margin-top: -5px;
  width: 100%;
  height: 35px;
  margin-left: 12px;
  width: 95%;
}
.last-message p{
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat-persons {
  height: 100%;
  overflow-y: auto;

}

.conversation {
  margin-left: 2px;
  height: 70px;
  display: flex;
  flex-direction: row;
  width: 99%;
  border-bottom: 2px solid #dadde0;
}

.conversation:hover {
  background-color: #dadde0;
}
.right-section {
  width: 55%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
 
}
.conversation-details {
  height: 65px;
  width: 100%;
  border: 2px #bcbec0 solid;
}

.messages-coversation {

    height: 86%;
    max-height: 86%;
    
}

.messages-content {
  padding: 0px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%; 
  flex-grow: 1;
}

.messages{
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ddddddb9;
}

.messages .one_message{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 15px;
}

.messages .one_message.me {
  justify-content: flex-end;
}

.messages .one_message .image_user_message img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.messages .one_message .message_body{
  padding-left: 10px;
  max-width: 90%;
  
}
.messages .one_message.me .message_body .message_text{
  background-color: #2ecc71;
  
}
.messages .one_message .message_body .message_text{
  background: #0969da;
  color: #FFF;
  padding: 10px;
  border-radius: 10px;
}
.messages .one_message .message_body .message_text p{
  word-wrap: break-word
}
.messenger_input{
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  bottom: 50px;
  bottom: 0px;
}
.content .messenger_input .text_input {
  
  flex-grow: 1;
  width: 100%;
  height: 100%;
}
.text_input textarea{
  
  border: 0 none;
  width: 100%;
  height: 100%;
  border: 2px solid #bcbec0;
  border-radius: 2px;
}

.content .messenger_input .actions {
  width: 50px;  
}

.content .messenger_input .actions button{
  
  width: 100%;
  height: 100%;
  background-color: #2ecc71;
  
}
.content .messenger_input .actions button:hover{
  
  cursor: pointer;
  
}

@media screen and (max-width: 1400px) {
  .left-section {
    width: 40%;
    margin-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .right-section {
    width: 60%;
    margin-right: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (max-height: 900px) {
  .messages-coversation {
    max-height: 82%;
    
}
}
@media screen and (max-height: 800px) {
  .messages-coversation {
    max-height: 78%;
    
}
}
@media screen and (max-height: 700px) {
  .messages-coversation {
    max-height: 74%;
    
}
}
@media screen and (max-height: 600px) {
  .messages-coversation {
    max-height: 70%;
    
}
}
@media screen and (max-height: 500px) {
  .messages-coversation {
    max-height: 60%;
    
}
}
@media screen and (max-height: 400px) {
  .messages-coversation {
    max-height: 55%;
    
}
}

