:root {
  --bg-color-step-one: #c9c9a9b9;
  --bg-color-step-two: #e6e6e6;
  --color-element-hover: #dadde0;
  --border-color: #a7a7a7;
  --border-color-less-intense: #bcbec0;
  --sender-message-color: #0969da;
  --me-message-color: #2ecc71;
  --skroll-bar: #d6dee1;
  --skroll-bar-hover: #a8bbbf;
  --white-color: white;
  --red-color:red;

}
