.video-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  min-width: 700px;
}

.video-page .buttons-bar {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #173a5c;
}

.video-page .buttons-bar .time {
  color: #fff;
  font-size: larger;
  margin-left: 50px;
  display: inline-flex;
}

.video-page .buttons-bar .time .icon {
  margin-right: 10px;
}

.video-page .buttons-bar .buttons {
  margin-left: auto;
  width: fit-content;
}

.video-page .buttons-bar .buttons .leave-button {
  width: 100px;
  margin-right: 20px;
}

.video-page .buttons-bar .buttons .microphone-button {
  margin-right: 20px;
}

.video-page .buttons-bar .buttons .video-button {
  margin-right: 20px;
}

.video-page .video-content {
  flex: 1 1 auto;
  background-image: url("../../images/loginBackground.jpg");
  background-size: cover;
  background-position: center;
}

.video-page .video-content .video-wrapper {
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.video-page .video-content .video-wrapper .user-video {
  height: 300px;
  margin: 5px;
  margin: 0.5rem;
  transform: rotateY(180deg);
}

.image_prev {
  background-color: #302e2e;
  display: flex;
  justify-content: center;
  height: 300px;
  width: 400px;
}

/* .image_prev img {
} */
