@import "../../index.css";

.page {
  height: 100%;
  width: 100vw;
  min-width: 900px;
}
.chat-page {
  height: calc(100% - 60px);
  width: 100%;
  min-width: 900px;
  bottom: 0px;
  top: 60px;
  display: inline-flex;
  position: absolute;
  background-image: url("../../images/loginBackground.jpg");
}

.page .chat-page .left-section {
  height: 98%;
  width: 35%;
  max-width: 350px;
  margin-left: 5%;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
  border-right: 2px solid var(--color-element-hover);
}

.search-section {
  height: 65px;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid var(--color-element-hover);
}

.search-box {
  width: 88%;
  height: 35px;
  border-radius: 5px;
  border: 2px var(--border-color) solid;
  font-size: 18px;
  margin-top: 12px;
  margin-left: 5px;
  margin-right: 5px;
}

.searchIcon svg {
  margin-top: 0;
}
.conversation-options-button-icon {
  margin-top: 10px;
  margin-right: 3px;
  width: 40px;
  height: 35px;
}

.conversation-options-button-icon .symbol {
  padding-left: 4px;
  font-size: 28px;
  margin-top: 7px;
}
.conversation-options-button-icon:hover {
  cursor: pointer;
  background-color: var(--color-element-hover);
  border-radius: 5px;
}

.chat-persons {
  height: 100%;
  overflow-y: auto;
}

.chat-persons .new-group-name {
  height: 60px;
  width: 100%;
  padding-left: 20px;
  padding-top: 5px;
  display: block;
  border-bottom: 2px solid var(--color-element-hover);
}
.chat-persons .new-group-name .input-section {
  display: inline-flex;
}
.chat-persons .new-group-name p {
  margin: 0;
}
.chat-persons .new-group-name input {
  height: 25px;
}

.chat-persons .new-group-name button {
  margin-left: 5px;
  height: 25px;
  width: 40px;
  background-color: var(--me-message-color);
}

.MoreHorizIcon {
  margin-left: 15px;
}
.MoreHorizIcon:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--skroll-bar);
  border-radius: 15px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--skroll-bar-hover);
}

@media screen and (max-width: 1400px) {
  .left-section {
    width: 36%;
    max-width: 350px;
    margin-left: 4%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 865px) {
  .left-section {
    max-width: 350px;
    margin-left: 0%;
  }
}
