@import "../../cssFiles/colors.css";

a {
  text-decoration: none;
  color: black;
}

.storage-content {
  height: 100vh;
  width: 100vw;
  min-width: 900px;
}

.f-nav-bar {
  display: flex;
  align-items: center;
  border: solid #e6e6e6;
  padding-left: 30px;
}
.containerforSize {
  height: calc(100% - 60px);
  width: 100%;
}

.content-drive {
  height: calc(100% - 80px);
  width: 100%;
  display: inline-flex;
}
.folder-tree {
  min-width: 300px;
  max-width: 300px;
  padding: 10px;
  background-color: #fff;
  left: 0px;
  box-shadow: 0px 8px 8px 0px rgb(0 0 0 / 20%);
  overflow-y: scroll;
}
.content-folder-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  right: 320px;
  left: 320px;
  box-shadow: 8px 8px 16px 0px rgb(0 0 0 / 20%);
}

.folder-list p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.file-list p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.folder-list {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
}

.file-list {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
}

.details-bar {
  border-bottom: solid #dadde0;
  height: 60px;
}

.content-folder-list p {
  text-align: center;
  margin: 0px;
  font-size: large;
}

.file__details {
  height: 100%;
  min-width: 300px;
  max-width: 300px;
  border-left: 2px solid #e8eef2;
  padding: 25px;
  background-color: #fff;
  right: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 8px 8px 16px 0px rgb(0 0 0 / 20%);
}

.empty__details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.file__details--inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.drive-button {
  margin: 8px;
  margin-top: 20px;
}

.button-icon {
  height: 30px;
  width: 30px;
  margin: 4px;
}

.folder-details {
  width: 98%;
  display: inline-flex;
}

.folder-element {
  margin-right: 10px;
  margin-left: 10px;
  width: 93%;
  min-width: 400px;
}

.file-element {
  margin-right: 10px;
  margin-left: 10px;
  width: 93%;
  min-width: 400px;
}

.folder-button {
  background-color: #fff;
  display: inline-flex;
  width: 100%;
  margin-top: 10px;
}

.folder-icon {
  height: 25px;
  width: 25px;
  margin: 4px;
  margin-left: 0px;
}

.folder-name {
  width: 30%;
  min-width: 70px;
  font-size: large;
  display: flex;
  justify-content: center;
}

.folder-name p {
  width: 100%;
  min-width: 70px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-content: center;
}

.folder-date {
  width: 30%;
  min-width: 150px;
  font-size: large;
  white-space: nowrap;
}

.folder-author {
  padding-left: 10px;
  width: 30%;
  font-size: large;
}

.folder-author p {
  width: 100%;
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  align-content: center;
}

.more_folder_options {
  position: relative;
  padding-left: 20px;
}

.more_folder_options .css-18622ie-MuiSvgIcon-root:hover {
  color: var(--sender-message-color);
  transition: 0.5s;
}

.folder-dropdown-button {
  padding-top: 18px;
  position: relative;
  display: inline-block;
}

.folder-dropdown-button:hover .dropdown-content {
  display: block;
  transition: 0.7s;
}

.f-component {
  display: inline-flex;
  width: 95%;
  min-width: 400px;
}

.f-dropdown-content {
  top: 50px;
  right: 5px;
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: white;
  border-radius: 5%;
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.f-dropdown-content .dropdown-instrument {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: inline-flex;
  width: 100%;
}

.f-dropdown-content p {
  margin: 0;
  padding-left: 10px;
}

.folder-tree-subfolders {
  margin-left: 20px;
}

.folder-tree-main-folder {
  display: inline-flex;
  align-items: center;
}

.folder-tree-main-folder .breadcrumb {
  margin-bottom: 0px;
}

.folder-tree-image-view {
  font-size: 5px;
  padding: 5px;
  cursor: pointer;
}

.folder-tree-image-view:hover {
  cursor: pointer;
}

.folder-tree-image-view-subfolders {
  height: 16px;
  width: 16px;
}

.folder-tree-image-hide-subfolders {
  height: 16px;
  width: 16px;
}
.folder-tree-main-file-name {
  margin-left: 24px;
  font-size: 18px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.folder-tree-file-element{
  margin-top: 3px;
}

.folder-tree-main-folder-name {
  margin-left: 8px;
  font-size: 18px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.folder-tree-main-folder-name:hover {
  cursor: pointer;
  color: var(--sender-message-color);
}

.folder-open {
  color: var(--sender-message-color);
}

.f-dropdown-content .dropdown-instrument:hover {
  background-color: #ddd;
}

.f-dropdown:hover .dropdown-content {
  display: block;
  transition: 0.7s;
}

.form-check {
  margin-top: 5px;
}

.custom-form-label {
  margin-top: 5px;
}

@media screen and (max-width: 1100px) {
  .file__details {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .folder-tree {
    display: none;
  }
}
