.storage-content {
  height: 100vh;
  width: 100vw;
  border: solid red;
  min-width: 700px;
}

.containerforSize {
  border: green solid;
  height: calc(100% - 60px);
}

.content-folder {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border: solid blue;
}
.drive-button {
  margin: 8px;
  margin-top: 20px;
}

.button-icon {
  height: 30px;
  width: 30px;
  margin: 4px;
}
